.formulir-page {
  min-height: calc(100vh - 160px);
  background: linear-gradient(135deg, #3a3ccc, #2b2fcf);
  padding: 40px;
}

.formulir-card {
  background: #fff;
  border-radius: 24px;
  padding: 32px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

/* BUTTON */
.btn-urus {
  background: #ffd600;
  border: none;
  padding: 12px 24px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 24px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* TABLE */
.table-wrapper {
  border: 1px solid #ccc;
  border-radius: 18px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #1f1f1f;
  color: white;
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #999;
}

tbody tr:hover {
  background: #f6f8ff;
}

.empty {
  text-align: center;
  color: #999;
  padding: 24px;
}

/* STATUS BADGE */
.badge {
  display: inline-block;
  padding: 6px 18px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 13px;
}

.badge.proses {
  background: #e0e0e0;
  color: #555;
  border: 2px solid green;
}

.badge.selesai {
  background: #2bff00;
  color: white;
}

.unduh {
  text-align: center;
}

.btn-unduh {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.btn-unduh img {
  width: 26px;
  height: 26px;
  transition: transform 0.2s ease;
}

.btn-unduh:hover img {
  transform: scale(1.15);
}


@media (max-width: 768px) {
  .formulir-page {
    padding: 20px;
  }

  th,
  td {
    font-size: 13px;
    padding: 10px;
  }
}
