.pengisian-page {
  padding: 40px;
  background: #f5f6ff;
}

.pengisian-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
}

.pengisian-card h3 {
  color: #000;
  margin-bottom: 4px;
}

.pengisian-card p {
  color: #000;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 12px 16px;
  margin-bottom: 30px;
}

.form-grid label {
  color: #9e9e9e;
  font-size: 14px;
  align-self: center;
}

.form-grid input,
.form-grid select {
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  color: #9e9e9e;
}

.form-grid input:focus,
.form-grid select:focus {
  border-color: #2e36ff;
}

.rt-rw {
  display: flex;
  gap: 8px;
}

.rt-rw input {
  flex: 1;
}

.checkbox {
  margin-top: 10px;
}

.checkbox label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 10px 0;
  color: #000;
  font-size: 14px;
}

.form-action {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.btn-kirim {
  background: #2e36ff;
  color: white;
  padding: 12px 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.btn-kirim:hover {
  background: #1f26d8;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .btn-kirim {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
}
